<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Eventos</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		
		<!--en esta seccion vamos a realizar un metodo para agregar y quitar una lista de task o eventos lo que queramos-->
		
		<main>
			
			<ul>
				<li v-for="tarea in tareas">
					{{tarea}}
				</li>
				
			</ul>
		<!--	<input type="text" placeholder="Introduce Nueva Tarea" v-model="nuevaTarea">
			<input type="button" value="Crea Nueva Tarea" v-on:click="addTask">-->
			
			<!--con un formulario -->
			<form v-on:submit.prevent="addTask">
				<input type="text" placeholder="Introduce Nueva Tarea" v-model="nuevaTarea">
				<input type="submit" value="Crea Nueva Tarea">
			</form>
			
			
			<pre>{{ $data }}</pre>
		
		</main>
		<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
		<script src="vue.js"></script>
	</body>
</html>